.git
.env
.env.backup
.env.production
vendor
node_modules
public/storage
public/build
storage/*.key
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
RENDER_DEPLOYMENT.md
